{% extends "base.html" %}

{% block content %}
    <h1>List of Blog Postings</h1>
    

    <hr />

    {% if postings|length == 0 %}
    <p>No postings yet</p>
    {% else %}
    {% for posting in postings %}
    <b>{{posting.title}}</b>
    <p>{{posting.body_text}}</p>
            
        </li>
            <form method='post' action="/delete-task" style="display:inline-block;"> 
               <!-- <input type="hidden" name="task-id" value=/> -->
                <input type="submit" value='Done!' />
            </form>
            <hr />
        {% endfor %} 
    </ul>

    {% endif %}

    <hr />

    <h2>Completed</h2>

    <ul>
        {%for posting in completed_postings %}
        <li>{{posting.title}}</li>
        {% endfor %}
    </ul>
{% endblock %}    